# See https://atom.io/docs/latest/hacking-atom-package-word-count#menus for more details
'context-menu':
    'atom-text-editor': [
        {
            'label': 'Markdown Preview Enhanced with litvis'
            'submenu': [
                {
                    'label': 'Toggle preview'
                    'command': 'markdown-preview-enhanced-with-litvis:toggle'
                }
            ]
        }
    ],
    'atom-workspace atom-text-editor[data-grammar*="gfm"]': [
        {
            'label': 'Markdown Preview Enhanced with litvis',
            'command': 'markdown-preview-enhanced-with-litvis:sync-preview'
            'submenu': [
                {
                    'label': 'Sync Preview'
                    'command': 'markdown-preview-enhanced-with-litvis:sync-preview'
                }
            ]
        }
    ]
'menu': [
    {
        'label': 'Packages'
        'submenu': [
            'label': 'Markdown Preview Enhanced with litvis'
            'submenu': [
                {
                    'label': 'Toggle preview'
                    'command': 'markdown-preview-enhanced-with-litvis:toggle'
                },
                {
                    'label': 'Sync Preview'
                    'command': 'markdown-preview-enhanced-with-litvis:sync-preview'
                }
            ]
        ]
    }
]
